<div class="d-flex flex-row align-items-center justify-content-center">
    <mat-form-field class="note-content-search mt-2 mr-4">
        <input
            matInput
            type="text"
            #searchInput
            [(ngModel)]="this.searchText"
            placeholder="{{ 'MainPage.Search' | translate }}"
            (keyup.enter)="performSearch()"
        />
        <div
            class="note-content-search-clearbutton"
            mat-button
            *ngIf="this.searchText"
            matSuffix
            matTooltip="{{ 'MainPage.ClearSearch' | translate }}"
            (click)="this.clearSearch()"
        >
            <i class="las la-times"></i>
        </div>
    </mat-form-field>
    <app-accent-button class="mr-1" color="primary" (click)="performSearch()">{{ 'Buttons.Search' | translate }}</app-accent-button>
</div>
